<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Đố em: Con gà có trước hay quả trứng có trước?</p>  
    <p>Nhưng anh thích em từ trước và ôm em từ đằng sau</p>    

  </body>
</html>
